{% extends 'base.html' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <h2>Récupération de mot de passe</h2>
    <p>Entrez votre adresse e-mail pour récupérer votre mot de passe :</p>
    <form action="/password" method="POST">
        <div>
            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Envoyer</button>
        {% if success %}
            <span style="color: green;">Un email contenant un lien de récupération vous a été envoyer.</span>
        {% endif %}
        {% if error %}
            <span style="color: red;">{{ error }}</span>
        {% endif %}
    </form>
{% endblock %}