{% extends 'base.html' %}

{% block title %}{{ manga.name }}{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/manga.css') }}">{% endblock %}

{% block content %}
{% set cover_path = 'uploads/mangas/' + manga.name + '/' + manga.cover %}
{% set manga_name = manga.name.lower().replace(' ', '-') %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="{{ url_for('views.home') }}"><i class="fa fa-home"></i> Acceuil</a>
                  <a href="#">Categories</a>
                  <span>{{ manga.gender[0].name }}</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="{{ url_for('static', filename=cover_path) }}">
                        <div class="comment"><i class="fa fa-comments"></i> {{ manga.comments|length }}</div>
                        <div class="view"><i class="fa fa-eye"></i> {{ manga.views }}</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>{{ manga.name }}</h3>
                            <span>フェイト／ステイナイト, Feito／sutei naito</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>1.029 Votes</span>
                        </div>
                        <p>
                            {% for line in manga.description.splitlines() %}
                            {{ line }}<br>
                            {% endfor %}
                        </p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Type:</span> {{ manga.type }}</li>
                                        <li><span>Auteur:</span> {{ manga.author }}</li>
                                        <li><span>Date de sortie:</span> {{ manga.release_date }}</li>
                                        <li><span>Status:</span> {{ manga.status }}</li>
                                        <li><span>Genre:</span> {% for gender in manga.gender %}{{gender.name}}, {% endfor %}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Note:</span> {{ manga.note }} / 161 votes</li>
                                        <li><span>Vues:</span> {{ manga.views }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Favoris</a>
                            <a href="{{ url_for('views.read_chapter', manga_name=manga_name, chapter_title='chapitre-1') }}" class="watch-btn"><span>Lire maintenant</span> <i
                                class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="manga__chapter">
                      <div class="section-title">
                          <h5>Chapitres</h5>
                      </div>
                      {% for chapter in manga.chapters %}
                      {% if chapter.title != None %}
                      <div class="anime__review__item">
                        <a href="{{url_for('views.read_chapter', manga_name=manga_name, chapter_title=chapter.title.lower().replace(' ', '-'))}}">
                          <div class="manga__chapter__item__pic">
                            <img src="{{ url_for('static', filename='uploads/mangas/' + manga.name + '/' + chapter.title + '/1.jpg') }}" alt="">
                            <h6>{{ chapter.title }}</h6>
                          </div>
                          </a>
                      </div>
                      {% else %}
                      <h6 class="is-white is-italic">Aucun chapitre pour le moment</h6>
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Derniers Commentaires</h5>
                        </div>
                        {% if manga.comments|length > 0 %}
                        {% for comment in manga.comments %}
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                {% if comment.user.avatar != "" %}
                                <img src="{{url_for('static', filename='uploads/users/' + string(comment.user.id) + '/' + comment.user.avatar)}}" alt="avatar utilisateur">
                                {% endif %}
                            </div>
                            <div class="anime__review__item__text">
                                <h6>{{comment.user.username}} - <span>{{comment.date_text}}</span> - <a href="{{ url_for('views.read_chapter', user=user, manga_name=manga_name, chapter_title='chapitre-' + string(comment.chapter.number)) }}">Chapitre {{comment.chapter.number}}</a></h6>
                                <p>{{comment.comment}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h6 class="is-italic is-white">Aucun commentaire</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>you might like...</h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Boruto: Naruto next generations</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->
{% endblock %}